*{
  margin: 5px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid black;

}

th{
  text-align: center;
  border: 1px solid black;
}

label{
  display: inline-block;
  width: 80px;
  background-color: aqua;
  margin: 5px;
}

button{
  margin-left: 125px;
}

@media screen and (max-width:680px){
  table{
    width: 200px;
  }
}